<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>LUST Incident Reporting Form</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <!-- table lustReportingTable  -->
        <!-- <table id="lustReportingTable"> -->
            <div class="container-fluid">   
                <div class="row">
                    <h1 class="display-5 text-left m-4">LUST Incident Reporting Form</h1>
                </div>
                <div class="container">
                    <p class="text-left">Notice (6/23/17): The OLPRR reporting tool is offline for maintenance. You have reached an alternative webpage to submit incident report information. Reporters will continue to receive an email confirming receipt and providing the incident log number. During this period DEQ responses may take up to 3 business days to complete. Please email hotinfo@deq.state.or.us with questions or problems, or call 503-229-5263 and ask to speak with the Heating Oil Tank or Leaking Underground Storage Tank Duty Officer. We apologize for any inconvenience or delays you may experience.</p>                    
                    <p class="text-left font-weight-bold pl-1" style="background-color: darkSeaGreen">Incident Information</p>
                 
                     <!-- Form incidentForm begins -->
                     <form [formGroup]="incidentForm" class="form" role="form" autocomplete="off" method="POST" novalidate (ngSubmit)="saveIncident(incidentForm)">
                        <!-- Date Reported -->
                        <div class="form-group col-md-2 mt-2">                               
                                <label for="dateReceived">Date Reported</label>
                                <input formControlName="dateReceived" type="text" class="form-control" id="dateReceived"  />
                        </div>
                        <!-- /Date Reported -->
                        <!-- Date Released Discovered -->
                        <!-- <div class="form-group required mt-2">                                 
                            <label class="control-label col-12" for="dateReleaseDiscovered">Date Release Discovered</label>
                            <input class="form-control col-md-2 " id="dateReleaseDiscovered" type="text" required="required" formControlName="dateReleaseDiscovered" />
                            <control-messages [control]="incidentForm.controls.dateReleaseDiscovered"></control-messages>
                        </div> -->
                        <div class="input-group">
                            <label class="control-label col-12" for="dateReleaseDiscovered">Date Release Discovered</label>
                            <input class="form-control required mt-2 col-md-4" 
                                   name="dp" formControlName="dateReleaseDiscovered" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <img src="./assets/images/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                              </button>
                            </div>
                        </div>
                        <!-- /Date Released Discovered -->
                        <!-- Site Type -->
                        <div class="form-group required col-md-2 mt-2" 
                        [ngClass]="{'has-error': (incidentForm.get('siteType').touched || 
                                    incidentForm.get('siteType').dirty) &&
                                    !incidentForm.get('siteType').valid }">
                            <label class="control-label" for="siteType">Site Type</label>
                            <select class="form-control" id="siteType" required="required" formControlName="siteType" >
                                <option value=""></option>
                                <option *ngFor="let siteType of siteTypes" 
                                        [value]="siteType.siteTypeCode" >
                                        {{siteType.siteType}}
                            </option>
                            </select>
                            <span class="help-block" *ngIf="(incidentForm.get('siteType').touched || 
                                incidentForm.get('siteType').dirty) && 
                                incidentForm.get('siteType').errors">
                                <span *ngIf="incidentForm.get('siteType').errors.required">
                            Please enter your first name.
                            </span>
                            </span>
                        </div>
                        <!-- Reported By Email -->
                        <!-- <div class="form-row mt-4"> 
                            <div class="form-group required col-md-4 pb-3"   [ngClass]="{'has-error': (incidentForm.get('reportedByEmail').touched || 
                                    incidentForm.get('reportedByEmail').dirty) &&
                                    !incidentForm.get('reportedByEmail').valid }">  >
                                <label class="control-label" for="reportedByEmail">Reported By Email</label>
                                <input type="text" class="form-control" id="reportedByEmail" required="required" formControlName="reportedByEmail"/>
                                <span class="help-block" *ngIf="(incidentForm.get('reportedByEmail').touched || 
                                            incidentForm.get('reportedByEmail').dirty) && 
                                            incidentForm.get('reportedByEmail').errors">
                                            <span *ngIf="incidentForm.get('reportedByEmail').errors.required">
                                                Please enter reportedByEmail.
                                            </span>
                                            <span *ngIf="incidentForm.get('reportedByEmail').errors.pattern">
                                                The reportedByEmail pattern has errors.
                                            </span>
                                </span>
                            </div>
                            <div class="form-group required col-md-8 pb-3 pt-5" >
                                *This information is required to receive a submission confirmation email.
                            </div>
                        </div> -->
                        <!-- /Reported By Email -->

                        <!-- Reported By Email -->
                        <div class="form-row mt-4"> 
                                <div class="form-group required col-md-4 pb-3"   >
                                    <label class="control-label" for="reportedByEmail">Reported By Email</label>
                                    <input type="text" class="form-control" id="reportedByEmail" required="required" formControlName="reportedByEmail"/>
                                    <app-show-errors [control]="incidentForm.controls.reportedByEmail"></app-show-errors>
                                </div>
                                <div class="form-group required col-md-8 pb-3 pt-5" >
                                    *This information is required to receive a submission confirmation email.
                                </div>
                            </div>
                            <!-- /Reported By Email -->






                        <div class="form-group row">

                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!incidentForm.valid">Submit</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="reset" class="btn btn-default btn-md btn-block">Clear All Fields</button>
                            </div>
                        </div>
                        <pre>incidentForm: {{ incidentForm.value | json }}</pre>
                    </form>
                     <!-- Form incidentForm ends --> 
                </div>
            </div>

    </body>


</html>